@import "tailwindcss";

/** light theme colors */
:root {
  --primary-100: #EDEBFE;
  --primary-200: #C7D2FE;
  --primary-300: #A5B4FC;
  --primary-400: #818CF8;
  --primary: #6366F1;
  --primary-600: #4F46E5;
  --primary-700: #4338CA;
  --primary-800: #3730A3;
  --primary-900: #312E81;

  --secondary-100: #FCE7F3;
  --secondary-200: #FBCFE8;
  --secondary-300: #F9A8D4;
  --secondary-400: #F472B6;
  --secondary: #DB2777;
  --secondary-600: #BE185D;
  --secondary-700: #9D174D;
  --secondary-800: #831843;
  --secondary-900: #500724;

  --accent-100: #FFF2ED;
  --accent-200: #FFE0D4;
  --accent-300: #FFC9B5;
  --accent-400: #FFAD92;
  --accent: #FF7A7A;
  --accent-600: #E55F5F;
  --accent-700: #CC4646;
  --accent-800: #B33030;
  --accent-900: #8A2525;

  --background: #F9FAFB;

  --text-100: #E4E9F1;
  --text-200: #B0C4D3;
  --text-300: #8A9DB6;
  --text-400: #6A7F99;
  --text: #4A5B73; /* Neutral dark text color */
  --text-600: #2F3A49;
  --text-700: #1E2835;
  --text-800: #141C23;
  --text-900: #0A1015;

  --radius: 0.625rem;
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: var(--accent-700);
  --destructive-foreground: #E4E9F1;
  --success: oklch(70.4% 0.14 182.503);
  --success-foreground: #E4E9F1;
  --border: oklch(0.923 0.003 48.717);
  --input: var(--primary);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
}

/** dark theme colors */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-100: #EEF0FE;
    --primary-200: #D6D9FC;
    --primary-300: #BDC2FA;
    --primary-400: #A5AAF9;
    --primary-500: #8D93F8;
    --primary-600: #6D74C6;
    --primary-700: #4F5694;
    --primary-800: #343962;
    --primary-900: #1B1F31;

    --secondary-100: #FDF2F8;
    --secondary-200: #FCE8F3;
    --secondary-300: #FAD1E8;
    --secondary-400: #F8B4D9;
    --secondary-500: #FF10F0;
    --secondary-600: #D100C3;
    --secondary-700: #A8009B;
    --secondary-800: #800074;
    --secondary-900: #4D0047;

    --accent-100: #2C0C0C;
    --accent-200: #521818;
    --accent-300: #793030;
    --accent-400: #A54848;
    --accent: #FF6B6B;
    --accent-600: #FF8585;
    --accent-700: #FFA0A0;
    --accent-800: #FFBDBD;
    --accent-900: #FFE9E9;

    --background: #1E293B;

    --text-100: #0A1015;
    --text-200: #141C23;
    --text-300: #1E2835;
    --text-400: #2F3A49;
    --text: #4A5B73; /* Neutral dark text color */
    --text-600: #6A7F99;
    --text-700: #8A9DB6;
    --text-800: #B0C4D3;
    --text-900: #E4E9F1;

    --success: oklch(77.7% 0.152 181.912);
    --destructive: var(--accent-400);
  }
}

@theme inline {
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary: var(--primary);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);

  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary: var(--secondary);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);

  --color-accent-100: var(--accent-100);
  --color-accent-200: var(--accent-200);
  --color-accent-300: var(--accent-300);
  --color-accent-400: var(--accent-400);
  --color-accent: var(--accent);
  --color-accent-600: var(--accent-600);
  --color-accent-700: var(--accent-700);
  --color-accent-800: var(--accent-800);
  --color-accent-900: var(--accent-900);

  --color-background: var(--background);

  --color-text-100: var(--text-100);
  --color-text-200: var(--text-200);
  --color-text-300: var(--text-300);
  --color-text-400: var(--text-400);
  --color-text: var(--text);
  --color-text-600: var(--text-600);
  --color-text-700: var(--text-700);
  --color-text-800: var(--text-800);
  --color-text-900: var(--text-900);

  --font-body: Inter, Helvetica, sans-serif;


  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar: var(--sidebar);

  --color-chart-5: var(--chart-5);

  --color-chart-4: var(--chart-4);

  --color-chart-3: var(--chart-3);

  --color-chart-2: var(--chart-2);

  --color-chart-1: var(--chart-1);

  --color-ring: var(--ring);

  --color-input: var(--input);

  --color-border: var(--border);

  --color-destructive: var(--destructive);

  --color-destructive-foreground: var(--destructive-foreground);

  --color-success: var(--success);

  --color-success-foreground: var(--success-foreground);

  --color-accent-foreground: var(--accent-foreground);

  --color-muted-foreground: var(--muted-foreground);

  --color-muted: var(--muted);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-primary-foreground: var(--primary-foreground);

  --color-popover-foreground: var(--popover-foreground);

  --color-popover: var(--popover);

  --color-card-foreground: var(--card-foreground);

  --color-card: var(--card);

  --color-foreground: var(--foreground);

  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);
}

body {
  font-family: NunitoSans, Helvetica, sans-serif;
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.923 0.003 48.717);
  --primary-foreground: oklch(0.216 0.006 56.043);
  --secondary: oklch(0.268 0.007 34.298);
  --secondary-foreground: oklch(0.985 0.001 106.423);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: #E4E9F1;
  --success: oklch(77.7% 0.152 181.912);
  --success-foreground: #E4E9F1;
  --border: oklch(1 0 0 / 10%);
  /*--input: oklch(1 0 0 / 15%);*/
  --input: var(--primary);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}

/*---break--- */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  ::selection {
    background: var(--primary);
    color: var(--primary-foreground);
  }
}

/** hide number input indicator */
/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0.75rem;
  cursor: pointer;
}
